.pb_items_box {
  padding-bottom: 5rem !important;
}

.w_card_course {
  width: 306px;
}

.str_price_main {
  color: #ffffffa9;
  text-decoration: line-through;
}

.w_icon_star {
  width: 15px;
}

.w_img_box {
  width: 100% !important;
  height: 13rem !important;
}

@media only screen and (max-width:1199.80px) {
  .w_card_course {
    width: 242px;
  }
  .w_img_box {
    width: 100% !important;
    height: 10rem !important;
  }
}

@media only screen and (max-width: 992.80px) {
  .w_img_box {
    width: 100% !important;
    height: 10rem !important;
  }
}

@media only screen and (max-width: 768.80px) {
  .w_img_box {
    width: 100% !important;
    height: 100% !important;
  }
}