:root {
  --bg_basic: #01B0FF;
  --bg_basic_two: #1C1C1C;
  --color_100:#fff;
  --color_50:#ffffffa9;
  --color_black:#000000;
}

@font-face {
  font-family: fa-font;
  font-style: normal;
  src: url('../public/fonts/fa/Dirooz-FD.ttf');
}

body {
  font-family: fa-font !important;
}

.bg_basic {
  background-color: var(--bg_basic) !important;
  border: 2px solid var(--bg_basic) !important;
}

.bg_basic_outline {
  background-color: transparen !important;
  border: 2px solid var(--bg_basic) !important;
  color: var(--bg_basic) !important;
}
.bg_basic_outline:hover {
  background-color: var(--bg_basic) !important;
  border: 2px solid var(--bg_basic) !important;
  color: var(--color_100) !important;
}

.text_color_basic {
  color: var(--bg_basic) !important;
}
.bg_main {
  background-color: var(--color_black) !important;
}

.bg_main_two {
  background-color: var(--bg_basic_two) !important;
}

.text_color_balck {
  color: var(--color_black);
}

.color_white_100 {
  color: var(--color_100) !important;
}

.color_white_50 {
  color: var(--color_50) !important;
}

.shadow_text:hover {
  color: var(--bg_basic) !important;
}

.h_maxContent {
  height: max-content;
}